[user]
        email = damon.haley@colorado.edu
[core]
        editor = /usr/local/bin/emacsclient
[push]
        default = simple
[help]
        autocorrect = 1
[core]
    excludesfile = /Users/daha1836/.gitignore_global
[merge]
  tool = ediff
[mergetool "ediff"]
  cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[init]
	templatedir = ~/.git_template
[grep]
	extendRegexp = true
	lineNumber = true
[alias]
	g = grep --break --heading --line-number
[pull]
	ff = only
